<!DOCTYPE html>
<html ng-app="myModule">
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
<head>
    <title></title>
</head>
<body>
    <div id="webtable" ng-controller="tableController">
        <div class="btn-group">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                Menu <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li><a href="#" ng-click="cancelRecord()">Cancel record</a></li>
                <li><a href="#" ng-click="deleteRecord()">Delete record</a></li>
                <li class="divider"></li>
                <li><a href="#" ng-click="newRecord()">New record</a></li>
                <li><a href="#" ng-click="copyRecord()">Copy record</a></li>
                <li><a href="#" ng-click="saveRecord()">Save Record</a></li>
                <li class="divider"></li>
                <li><a href="#" ng-click="queryRecord()">New query</a></li>
                <li><a href="#" ng-click="!query_record||refineQueryRecord()">Refine query</a></li>
                <li class="divider"></li>
                <li><a href="#" ng-click="">About record</a></li>
                <li><a href="#" ng-click="">Count records</a></li>
            </ul>
        </div>
        <button class="btn" ng-click="newRecord()" ng-hide="show_query_record || show_new_record">New</button>
        <button class="btn" ng-click="cancelRecord()" ng-hide="!show_new_record">Cancel</button>
        <button class="btn" ng-click="saveRecord()" ng-hide="!show_new_record">Save</button>
        <button class="btn" ng-click="queryRecord()" ng-hide="show_query_record || show_new_record">Query</button>
        <button class="btn" ng-click="clearQueryRecord()" ng-show="query_record">Clear</button>
        <table class="table table-striped table-bordered">
            <thead>
                <tr><th>#</th><th ng-repeat="headElement in datas.head"  ng-click="setSelectedColumn($index)"> {{headElement}}</th></tr>
            </thead>
            <tbody>
                <tr ng-show="show_query_record" class="success">
                    <td>*</td>
                    <td ng-repeat="d in query_record track by $index" ng-init="innerindex=$index" >
                        <div webtable-cell-nq datacell="d" index="innerindex" nq="query_record"></div>
                    </td>
                </tr>
                <tr ng-show="new_record" class="success">
                    <td>*</td>
                    <td ng-repeat="d in new_record track by $index" ng-init="innerindex=$index" >
                        <div webtable-cell-nq datacell="d" index="innerindex" nq="new_record"></div>
                    </td>
                </tr>
                <tr ng-repeat="(outerindex,data) in datas.body |queryRecord:query_record|orderBy:selectedColumn:reverseSort" >
                    <td>{{selectedRecord(outerindex)?'*':'-'}}</td>
                    <td ng-repeat="d in data track by $index " ng-init="innerindex=$index">
                        <div webtable-cell datacell="d" innerindex="innerindex" outerindex="outerindex" maxouterindex="datas.head.length"></div>
                    </td>
                </tr>
            </tbody>
        </table>
        <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
        </ul>

       </div>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://code.angularjs.org/1.2.0-rc.3/angular.min.js"></script>
<script src="../scripts/directives/directives.js"></script>
<script src="../scripts/filters/filters.js"></script>
<script src="../scripts/controllers/tableContorller.js"></script>
<script src="../scripts/controllers/pageController.js"></script>
<script src="../scripts/app.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script>

    $(document).ready(function(){
       /* var tdWidth = 100/($("#webtable").scope().datas.head.length+1)+"%";
        $(this).find('style').append(".table.fixedWidth >tbody>tr>td{padding: 0; width:"+tdWidth+";}");
        $('body').find('.table').each(function(){$(this).addClass('fixedWidth')});*/
    });
</script>

<style>

    input[type="text"] {
        width: 100%;
        box-sizing: border-box;
        -webkit-box-sizing:border-box;
        -moz-box-sizing: border-box;
    }
    .table>tbody>tr>td{
        padding: 0;
        width: auto;
    }

    .table>tbody>tr>td>*{
        width: 100%;
        padding-left: 5px;
    }



</style>
</html>