<!DOCTYPE html>
<html ng-app="myModule">
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
<head>
    <title></title>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-4">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">webtable</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-4">
        <p class="navbar-text">alpha version 0.0.0.1</p>
    </div>
</nav>

<div webtable></div>

<div id="footer">
    <div class="container">
        <p class="text-muted credit">Licence Apache 2.0</p>
    </div>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://code.angularjs.org/1.2.0-rc.3/angular.min.js"></script>
<script src="../scripts/configuration/config.js"></script>
<script src="../scripts/services/dataFactory.js"></script>
<script src="../scripts/services/constraintFactory.js"></script>
<script src="../scripts/services/parser.js"></script>
<script src="../scripts/directives/directives.js"></script>
<script src="../scripts/filters/filters.js"></script>
<script src="../scripts/controllers/modalController.js"></script>
<script src="../scripts/controllers/pageController.js"></script>
<script src="../scripts/controllers/commandController.js"></script>
<script src="../scripts/controllers/tableContorller.js"></script>
<script src="../scripts/app.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
<script>

    $(document).ready(function () {
        /* var tdWidth = 100/($("#webtable").scope().datas.head.length+1)+"%";
         $(this).find('style').append(".table.fixedWidth >tbody>tr>td{padding: 0; width:"+tdWidth+";}");
         $('body').find('.table').each(function(){$(this).addClass('fixedWidth')});*/
    });
</script>

<style>

    input[type="text"] {
        width: 100%;
        text-align: center;
    }
    .table > tbody > tr > td {
        padding: 0;
        text-align: center;
        height: 26px;
    }
    .table > thead > tr > th {
        text-align: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .cell{
        height: 25px;
        text-align: center;
    }



</style>
</html>